<a href="https://colab.research.google.com/github/black-blip/kaggle-titanic/blob/main/kaggle_Titanic_competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.chdir('drive/MyDrive/Colab Notebooks')

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_data = pd.read_csv('train.csv')

In [4]:
test_data = pd.read_csv('test.csv')
test_data.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [5]:
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [6]:
train_data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [7]:
Y = train_data.Survived

features = ['Pclass','Sex','SibSp','Parch']

X_train = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [8]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(X_train,Y,test_size=0.35,random_state=32)

In [9]:
train_x = train_x.dropna()
train_y.shape

(579,)

In [10]:
from sklearn.ensemble import RandomForestClassifier as rfc
model = rfc()
model.fit(train_x,train_y)
print("Accuracy: ",model.score(test_x,test_y))

Accuracy:  0.75

In [11]:
from sklearn.naive_bayes import GaussianNB

clf = GaussianNB()
clf.fit(train_x,train_y)
print("Accuracy: ",clf.score(test_x,test_y))

Accuracy:  0.7788461538461539

In [12]:
from sklearn.svm import SVC

clf1 = SVC()
clf1.fit(train_x,train_y)

print("Accuracy: ",clf1.score(test_x,test_y))

Accuracy:  0.7916666666666666

In [13]:
from sklearn.tree import DecisionTreeClassifier as DTC

clf2 = DTC()
clf2.fit(train_x,train_y)

print("Accuracy: ",clf2.score(test_x,test_y))

Accuracy:  0.7467948717948718

In [14]:
from sklearn.ensemble import GradientBoostingClassifier as GBC

clf3 = GBC()

clf3.fit(train_x,train_y)

print("Accuracy: ",clf3.score(test_x,test_y))

Accuracy:  0.7788461538461539

In [15]:

from sklearn.ensemble import RandomForestClassifier

model1 = RandomForestClassifier(n_estimators=100,max_depth=10,random_state=1)
model1.fit(train_x,train_y)
print(model1.score(test_x,test_y))

0.75

In [16]:
predictions = clf1.predict(X_test)
output = pd.DataFrame({'PassengerId':test_data.PassengerId, 'Survived':predictions})
output.to_csv('my_submission.csv', index=False)